/*
 * Template Name: VanHack
 * Version: 1.0
 * Author: @vanhackteam
 * Website: http://www.vanhack.com
*/
/* Add here all your css styles (customizations) */


/*HEADER*/
.btn_premium {
  background-color: #00aeef;
}

.btn_premium a {
      color: #fff !important;
}

/*HEADER*/

/*HOME*/

.interactive-slider-v2 {
    z-index: 1;
    padding: 200px 0;
    position: relative;
    text-align: center;
    background: url(../img/bg/home.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.interactive-slider-v2:after {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background: none;
}



.bg-image-v1 {
    width: 100%;
    height: auto;
    padding: 70px 0 70px 0;
    position: relative;
    background: url(../img/bg/above_home.jpg) no-repeat;
        background-size: cover;
    background-position: center center;
}

.bg-image-v1:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background: none !important;
}

.service-info {
    position: relative;
    padding: 20px 0 20px;
    background: none;
    background-color: #d5dbdd;
}

.service-info-beneficios {
    position: relative;
    padding: 50px 0 50px;
	background: url(../img/new/home/note.jpg) right 44px no-repeat;
    background-color: #1a8c58;
    background-size: 40%;
}

.home2 h1    {
	color: #fff;
    margin-top: 5px;
    text-shadow: none;
    font-family: "Open Sans", Arial, sans-serif;
    max-width: 78%;
    margin: 0 auto;
    font-weight: 800;
    font-size: 23px;
}

.home2 p    {
	    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
}

.form-home1 {
	    width: 40%;
    margin: 0 auto;
}


.service-info-beneficios .content-sm {
	    padding-top: 60px;
    padding-bottom: 0px;
}



.service-block1 {
    padding: 0 30px 20px 30px;
    text-align: center;
    background: url(../img/new/home/banner_1.jpg) no-repeat;
    margin-bottom: 20px;
    height: 490px;
}

.service-block1 h2 {
    background: #007a87;
    padding: 10px;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
}
.service-block1 p {
    color: #fff;
    font-weight: 100;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 1px;
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    width: 85%;
}


.service-block2 {
    padding: 0 30px 20px 30px;
    text-align: center;
    background: url(../img/new/home/banner_2.jpg)  right no-repeat;
    margin-bottom: 20px;
    height: 490px;
}

.service-block2 h2 {
    background: #393c3d;
    padding: 10px;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
}

.service-block2 p {
    color: #fff;
    font-weight: 100;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 1px;
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    width: 85%;
}

.service-block3 {
    padding: 0 30px 20px 30px;
    text-align: center;
    background: url(../img/new/home/banner_3.jpg) no-repeat;
    margin-bottom: 20px;
    height: 490px;
}

.service-block3 h2 {
    background: #7b0051;
    padding: 10px;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
}

.service-block3 p {
    color: #fff;
    font-weight: 100;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 1px;
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    width: 85%;
}



.ebook h2 {
    color: #000;
    font-weight: 900;
    font-size: 41px;
    text-align: left;
    line-height: 46px;
}

.ebook p {
	    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.ebookrow {
    margin-right: 0px;
    margin-left: 20px;
    list-style-type: none;
}

.beneficios_vk h2 {
	font-size: 41px;
    font-weight: 100;
    font-style: italic;
    color: #fff;
    max-width: 340px;
    line-height: 42px;
}

.beneficios_vk h1 {
	font-size: 57px;
    font-weight: 900;
    color: #fff;
    font-weight: bold;
}

.listahome li {
	font-size: 17px;
	color: #fff;
	font-weight: 100;
	letter-spacing: 1px;
	margin-top: 30px;

}

.btnhomevanhack {
	text-align: center;
	padding-top: 40px;
}


.titlevideo h2{
    color: #791457;
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
    margin: 0 auto;
    text-align: center;

}

.videos{
	margin-bottom: 60px;
}

.slick-dots {
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 3px;
    opacity: .5;
    background: #a9a9a9;
    cursor: pointer;
    text-indent: -9999px;
    border: 1px solid #a9a9a9 !important;
}


.slick-dots li.slick-active button {
	display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 3px;
    opacity: 1;
    background: #6f0049;
    cursor: pointer;
    text-indent: -9999px;
}


.slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 28%;
    left: -26px;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: none;
    z-index: 000;
    border: 3px solid #6f0049;
    text-indent: -90000px;
    border-right: none;
    border-top: none;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 28%;
    right: -26px;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: none;
    z-index: 000;
    border: 3px solid #6f0049;
    text-indent: -90000px;
    border-left: none;
    border-bottom: none;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.content-md {
    padding-top: 80px;
     padding-bottom: 0px;
}

/*.image_plays{
	position: absolute;
}*/



.btn_play{
	width: 70px !important;
	height: 70px !important;
	    position: relative;

    padding: 10px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    z-index: 5;
    background-position: center center;

}



/*Conheça*/

.bgconheca {
  background-color: #f7f7f7;
}

.interactive-slider-v3 {
    z-index: 1;
    padding: 200px 0;
    position: relative;
    text-align: center;
    background: url(../img/bg/conheca.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 2;
}


.banner1 h1 {
    font-size: 51px;
    font-weight: 900;
    color: #02aeef;
    line-height: 50px;

}

.banner1 p {
    font-size: 19px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    max-width: 790px;
    margin: 0 auto;
    margin-top: 30px;
}


.img_conheca {
      margin-bottom: -139px;

}

.imagem2conheca{

    top: -150px;
    color: #585f69;
    min-width: 45px;
    font-size: 23px;

    padding: 10px 5px;
    text-align: center;
    position: relative;
    margin: 0 10px 0 -22px;

    z-index: 3;
    background: url(../img/bg/img1.png) no-repeat;
}


/*parceiros*/


/*Partners*/

.partners_logos {
    padding-top: 40px;
    padding-bottom: 40px;
}


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

/*
 * Correct `block` display not defined in IE 8/9.
 */
/* line 17, ../scss/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }


/* line 28, ../scss/components/_container.scss */
.container, .container--small, .container--flush, .elements-item--full, .width {
  max-width: 1160px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem; }

/* line 36, ../scss/components/_container.scss */
.container--small {
  max-width: 970px; }

/* line 41, ../scss/components/_container.scss */
.container--flush {
  padding-left: 0;
  padding-right: 0; }

/* line 48, ../scss/components/_container.scss */
.width {
  position: relative;
  padding: 0;
  max-width: 1120px; }
  @media only screen and (max-width: 1200px) {
    /* line 48, ../scss/components/_container.scss */
    .width {
      padding-left: 1rem;
      padding-right: 1rem; } }

/* line 57, ../scss/components/_container.scss */
.width--small {
  max-width: 740px; }

/* line 2, ../scss/components/_gravity-forms.scss */
.gform_fields {
  list-style: none;
  padding-left: 0;
  margin-bottom: 1rem; }


/**
 * Grid wrapper
 */
/* line 39, ../scss/components/_grid.scss */
.grid, .form__grid, .grid--full, .grid--spacious, .grid--block {
  margin-left: -1rem;
  list-style: none;
  margin-bottom: 0; }

/**
 * Very infrequently occuring grid wrappers as children of grid wrappers.
 */
/* line 50, ../scss/components/_grid.scss */
.grid > .grid, .form__grid > .grid, .grid--full > .grid, .grid--spacious > .grid, .grid--block > .grid, .grid > .form__grid, .form__grid > .form__grid, .grid--full > .form__grid, .grid--spacious > .form__grid, .grid--block > .form__grid, .grid > .grid--full, .form__grid > .grid--full, .grid--full > .grid--full, .grid--spacious > .grid--full, .grid--block > .grid--full, .grid > .grid--spacious, .form__grid > .grid--spacious, .grid--full > .grid--spacious, .grid--spacious > .grid--spacious, .grid--block > .grid--spacious, .grid > .grid--block, .form__grid > .grid--block, .grid--full > .grid--block, .grid--spacious > .grid--block, .grid--block > .grid--block {
  margin-left: 0; }

/**
 * Grid
 */
/* line 58, ../scss/components/_grid.scss */
.grid__item, .form__grid .form__group, .form__grid .form__group--inline, .form__grid .gfield {
  float: left;
  padding-left: 1rem; }

/* line 64, ../scss/components/_grid.scss */
.grid--full {
  margin-left: 0; }
  /* line 67, ../scss/components/_grid.scss */
  .grid--full .grid__item, .grid--full .form__grid .form__group, .form__grid .grid--full .form__group, .grid--full .form__grid .form__group--inline, .form__grid .grid--full .form__group--inline, .grid--full .form__grid .gfield, .form__grid .grid--full .gfield {
    padding-left: 0; }

/* line 72, ../scss/components/_grid.scss */
.grid--spacious {
  margin-left: -3rem; }
  /* line 75, ../scss/components/_grid.scss */
  .grid--spacious > .grid__item, .form__grid .grid--spacious > .form__group, .form__grid .grid--spacious > .form__group--inline, .form__grid .grid--spacious > .gfield {
    padding-left: 3rem; }

/* line 80, ../scss/components/_grid.scss */
.grid--fluid {
  margin-left: -5.263%; }
  /* line 83, ../scss/components/_grid.scss */
  .grid--fluid > .grid__item, .form__grid .grid--fluid > .form__group, .form__grid .grid--fluid > .form__group--inline, .form__grid .grid--fluid > .gfield {
    padding-left: 5%; }

/* line 96, ../scss/components/_grid.scss */
.grid--block > .grid__item, .form__grid .grid--block > .form__group, .form__grid .grid--block > .form__group--inline, .form__grid .grid--block > .gfield {
  float: none;
  display: inline-block;
  vertical-align: top; }






/* line 1017, ../scss/layout/_global.scss */
.partner-logos a {
  height: 80px;
  line-height: 80px;
  display: block; }
  /* line 1021, ../scss/layout/_global.scss */
  .partner-logos a img {
    max-height: 100%;
    vertical-align: middle;
    padding: 0 20px;
    margin-top: 30px;
 }



/*

  $WIDTHS

  Sizes in human readable format. These are used in conjunction with other
  objects and abstractions found in inuit.css, most commonly the grid system
  and faux flexbox.

  We have a mixin to generate our widths and their breakpoint-specific
  variations.

*/
/* line 109, ../scss/abstractions/_widths.scss */
.nine-sixteenths {
  width: 56.25%; }

/**
* Whole
*/
/* line 18, ../scss/abstractions/_widths.scss */
.one-whole {
  width: 100%; }

/**
* Halves
*/
/* line 24, ../scss/abstractions/_widths.scss */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
  width: 50%; }

/**
* Thirds
*/
/* line 30, ../scss/abstractions/_widths.scss */
.one-third, .two-sixths, .four-twelfths {
  width: 33.333%; }

/* line 31, ../scss/abstractions/_widths.scss */
.two-thirds, .four-sixths, .eight-twelfths {
  width: 66.666%; }

/**
* Quarters
*/
/* line 37, ../scss/abstractions/_widths.scss */
.one-quarter, .two-eighths, .three-twelfths {
  width: 25%; }

/* line 39, ../scss/abstractions/_widths.scss */
.three-quarters, .six-eighths, .nine-twelfths {
  width: 75%; }

/**
* Fifths
*/
/* line 45, ../scss/abstractions/_widths.scss */
.one-fifth, .two-tenths {
  width: 20%; }

/* line 46, ../scss/abstractions/_widths.scss */
.two-fifths, .four-tenths {
  width: 40%; }

/* line 47, ../scss/abstractions/_widths.scss */
.three-fifths, .six-tenths {
  width: 60%; }

/* line 48, ../scss/abstractions/_widths.scss */
.four-fifths, .eight-tenths {
  width: 80%; }

/**
* Sixths
*/
/* line 54, ../scss/abstractions/_widths.scss */
.one-sixth, .two-twelfths {
  width: 16.666%; }

/* line 58, ../scss/abstractions/_widths.scss */
.five-sixths, .ten-twelfths {
  width: 83.333%; }

/**
* Eighths
*/
/* line 64, ../scss/abstractions/_widths.scss */
.one-eighth {
  width: 12.5%; }

/* line 66, ../scss/abstractions/_widths.scss */
.three-eighths {
  width: 37.5%; }

/* line 68, ../scss/abstractions/_widths.scss */
.five-eighths {
  width: 62.5%; }

/* line 70, ../scss/abstractions/_widths.scss */
.seven-eighths {
  width: 87.5%; }

/**
* Tenths
*/
/* line 76, ../scss/abstractions/_widths.scss */
.one-tenth {
  width: 10%; }

/* line 78, ../scss/abstractions/_widths.scss */
.three-tenths {
  width: 30%; }

/* line 81, ../scss/abstractions/_widths.scss */
.left-right .four-tenths {
  clear: both; }

/* line 87, ../scss/abstractions/_widths.scss */
.seven-tenths {
  width: 70%; }

/* line 89, ../scss/abstractions/_widths.scss */
.nine-tenths {
  width: 90%; }

/**
* Twelfths
*/
/* line 95, ../scss/abstractions/_widths.scss */
.one-twelfth {
  width: 8.333%; }

/* line 99, ../scss/abstractions/_widths.scss */
.five-twelfths {
  width: 41.666%; }

/* line 101, ../scss/abstractions/_widths.scss */
.seven-twelfths {
  width: 58.333%; }

/* line 105, ../scss/abstractions/_widths.scss */
.eleven-twelfths {
  width: 91.666%; }

@media only screen and (max-width: 1440px) {
  /**
  * Whole
  */
  /* line 18, ../scss/abstractions/_widths.scss */
  .xl-one-whole {
    width: 100%; }

  /**
  * Halves
  */
  /* line 24, ../scss/abstractions/_widths.scss */
  .xl-one-half, .xl-two-quarters, .xl-three-sixths, .xl-four-eighths, .xl-five-tenths, .xl-six-twelfths {
    width: 50%; }

  /**
  * Thirds
  */
  /* line 30, ../scss/abstractions/_widths.scss */
  .xl-one-third, .xl-two-sixths, .xl-four-twelfths {
    width: 33.333%; }

  /* line 31, ../scss/abstractions/_widths.scss */
  .xl-two-thirds, .xl-four-sixths, .xl-eight-twelfths {
    width: 66.666%; }

  /**
  * Quarters
  */
  /* line 37, ../scss/abstractions/_widths.scss */
  .xl-one-quarter, .xl-two-eighths, .xl-three-twelfths {
    width: 25%; }

  /* line 39, ../scss/abstractions/_widths.scss */
  .xl-three-quarters, .xl-six-eighths, .xl-nine-twelfths {
    width: 75%; }

  /**
  * Fifths
  */
  /* line 45, ../scss/abstractions/_widths.scss */
  .xl-one-fifth, .xl-two-tenths {
    width: 20%; }

  /* line 46, ../scss/abstractions/_widths.scss */
  .xl-two-fifths, .xl-four-tenths {
    width: 40%; }

  /* line 47, ../scss/abstractions/_widths.scss */
  .xl-three-fifths, .xl-six-tenths {
    width: 60%; }

  /* line 48, ../scss/abstractions/_widths.scss */
  .xl-four-fifths, .xl-eight-tenths {
    width: 80%; }

  /**
  * Sixths
  */
  /* line 54, ../scss/abstractions/_widths.scss */
  .xl-one-sixth, .xl-two-twelfths {
    width: 16.666%; }

  /* line 58, ../scss/abstractions/_widths.scss */
  .xl-five-sixths, .xl-ten-twelfths {
    width: 83.333%; }

  /**
  * Eighths
  */
  /* line 64, ../scss/abstractions/_widths.scss */
  .xl-one-eighth {
    width: 12.5%; }

  /* line 66, ../scss/abstractions/_widths.scss */
  .xl-three-eighths {
    width: 37.5%; }

  /* line 68, ../scss/abstractions/_widths.scss */
  .xl-five-eighths {
    width: 62.5%; }

  /* line 70, ../scss/abstractions/_widths.scss */
  .xl-seven-eighths {
    width: 87.5%; }

  /**
  * Tenths
  */
  /* line 76, ../scss/abstractions/_widths.scss */
  .xl-one-tenth {
    width: 10%; }

  /* line 78, ../scss/abstractions/_widths.scss */
  .xl-three-tenths {
    width: 30%; }

  /* line 81, ../scss/abstractions/_widths.scss */
  .left-right .xl-four-tenths {
    clear: both; }

  /* line 87, ../scss/abstractions/_widths.scss */
  .xl-seven-tenths {
    width: 70%; }

  /* line 89, ../scss/abstractions/_widths.scss */
  .xl-nine-tenths {
    width: 90%; }

  /**
  * Twelfths
  */
  /* line 95, ../scss/abstractions/_widths.scss */
  .xl-one-twelfth {
    width: 8.333%; }

  /* line 99, ../scss/abstractions/_widths.scss */
  .xl-five-twelfths {
    width: 41.666%; }

  /* line 101, ../scss/abstractions/_widths.scss */
  .xl-seven-twelfths {
    width: 58.333%; }

  /* line 105, ../scss/abstractions/_widths.scss */
  .xl-eleven-twelfths {
    width: 91.666%; } }
@media only screen and (max-width: 1020px) {
  /**
  * Whole
  */
  /* line 18, ../scss/abstractions/_widths.scss */
  .lg-one-whole {
    width: 100%; }

  /**
  * Halves
  */
  /* line 24, ../scss/abstractions/_widths.scss */
  .lg-one-half, .lg-two-quarters, .lg-three-sixths, .lg-four-eighths, .lg-five-tenths, .lg-six-twelfths {
    width: 50%; }

  /**
  * Thirds
  */
  /* line 30, ../scss/abstractions/_widths.scss */
  .lg-one-third, .lg-two-sixths, .lg-four-twelfths {
    width: 33.333%; }

  /* line 31, ../scss/abstractions/_widths.scss */
  .lg-two-thirds, .lg-four-sixths, .lg-eight-twelfths {
    width: 66.666%; }

  /**
  * Quarters
  */
  /* line 37, ../scss/abstractions/_widths.scss */
  .lg-one-quarter, .lg-two-eighths, .lg-three-twelfths {
    width: 25%; }

  /* line 39, ../scss/abstractions/_widths.scss */
  .lg-three-quarters, .lg-six-eighths, .lg-nine-twelfths {
    width: 75%; }

  /**
  * Fifths
  */
  /* line 45, ../scss/abstractions/_widths.scss */
  .lg-one-fifth, .lg-two-tenths {
    width: 20%; }

  /* line 46, ../scss/abstractions/_widths.scss */
  .lg-two-fifths, .lg-four-tenths {
    width: 40%; }

  /* line 47, ../scss/abstractions/_widths.scss */
  .lg-three-fifths, .lg-six-tenths {
    width: 60%; }

  /* line 48, ../scss/abstractions/_widths.scss */
  .lg-four-fifths, .lg-eight-tenths {
    width: 80%; }

  /**
  * Sixths
  */
  /* line 54, ../scss/abstractions/_widths.scss */
  .lg-one-sixth, .lg-two-twelfths {
    width: 16.666%; }

  /* line 58, ../scss/abstractions/_widths.scss */
  .lg-five-sixths, .lg-ten-twelfths {
    width: 83.333%; }

  /**
  * Eighths
  */
  /* line 64, ../scss/abstractions/_widths.scss */
  .lg-one-eighth {
    width: 12.5%; }

  /* line 66, ../scss/abstractions/_widths.scss */
  .lg-three-eighths {
    width: 37.5%; }

  /* line 68, ../scss/abstractions/_widths.scss */
  .lg-five-eighths {
    width: 62.5%; }

  /* line 70, ../scss/abstractions/_widths.scss */
  .lg-seven-eighths {
    width: 87.5%; }

  /**
  * Tenths
  */
  /* line 76, ../scss/abstractions/_widths.scss */
  .lg-one-tenth {
    width: 10%; }

  /* line 78, ../scss/abstractions/_widths.scss */
  .lg-three-tenths {
    width: 30%; }

  /* line 81, ../scss/abstractions/_widths.scss */
  .left-right .lg-four-tenths {
    clear: both; }

  /* line 87, ../scss/abstractions/_widths.scss */
  .lg-seven-tenths {
    width: 70%; }

  /* line 89, ../scss/abstractions/_widths.scss */
  .lg-nine-tenths {
    width: 90%; }

  /**
  * Twelfths
  */
  /* line 95, ../scss/abstractions/_widths.scss */
  .lg-one-twelfth {
    width: 8.333%; }

  /* line 99, ../scss/abstractions/_widths.scss */
  .lg-five-twelfths {
    width: 41.666%; }

  /* line 101, ../scss/abstractions/_widths.scss */
  .lg-seven-twelfths {
    width: 58.333%; }

  /* line 105, ../scss/abstractions/_widths.scss */
  .lg-eleven-twelfths {
    width: 91.666%; } }
@media only screen and (max-width: 960px) {
  /**
  * Whole
  */
  /* line 18, ../scss/abstractions/_widths.scss */
  .between-one-whole {
    width: 100%; }

  /**
  * Halves
  */
  /* line 24, ../scss/abstractions/_widths.scss */
  .between-one-half, .between-two-quarters, .between-three-sixths, .between-four-eighths, .between-five-tenths, .between-six-twelfths {
    width: 50%; }

  /**
  * Thirds
  */
  /* line 30, ../scss/abstractions/_widths.scss */
  .between-one-third, .between-two-sixths, .between-four-twelfths {
    width: 33.333%; }

  /* line 31, ../scss/abstractions/_widths.scss */
  .between-two-thirds, .between-four-sixths, .between-eight-twelfths {
    width: 66.666%; }

  /**
  * Quarters
  */
  /* line 37, ../scss/abstractions/_widths.scss */
  .between-one-quarter, .between-two-eighths, .between-three-twelfths {
    width: 25%; }

  /* line 39, ../scss/abstractions/_widths.scss */
  .between-three-quarters, .between-six-eighths, .between-nine-twelfths {
    width: 75%; }

  /**
  * Fifths
  */
  /* line 45, ../scss/abstractions/_widths.scss */
  .between-one-fifth, .between-two-tenths {
    width: 20%; }

  /* line 46, ../scss/abstractions/_widths.scss */
  .between-two-fifths, .between-four-tenths {
    width: 40%; }

  /* line 47, ../scss/abstractions/_widths.scss */
  .between-three-fifths, .between-six-tenths {
    width: 60%; }

  /* line 48, ../scss/abstractions/_widths.scss */
  .between-four-fifths, .between-eight-tenths {
    width: 80%; }

  /**
  * Sixths
  */
  /* line 54, ../scss/abstractions/_widths.scss */
  .between-one-sixth, .between-two-twelfths {
    width: 16.666%; }

  /* line 58, ../scss/abstractions/_widths.scss */
  .between-five-sixths, .between-ten-twelfths {
    width: 83.333%; }

  /**
  * Eighths
  */
  /* line 64, ../scss/abstractions/_widths.scss */
  .between-one-eighth {
    width: 12.5%; }

  /* line 66, ../scss/abstractions/_widths.scss */
  .between-three-eighths {
    width: 37.5%; }

  /* line 68, ../scss/abstractions/_widths.scss */
  .between-five-eighths {
    width: 62.5%; }

  /* line 70, ../scss/abstractions/_widths.scss */
  .between-seven-eighths {
    width: 87.5%; }

  /**
  * Tenths
  */
  /* line 76, ../scss/abstractions/_widths.scss */
  .between-one-tenth {
    width: 10%; }

  /* line 78, ../scss/abstractions/_widths.scss */
  .between-three-tenths {
    width: 30%; }

  /* line 81, ../scss/abstractions/_widths.scss */
  .left-right .between-four-tenths {
    clear: both; }

  /* line 87, ../scss/abstractions/_widths.scss */
  .between-seven-tenths {
    width: 70%; }

  /* line 89, ../scss/abstractions/_widths.scss */
  .between-nine-tenths {
    width: 90%; }

  /**
  * Twelfths
  */
  /* line 95, ../scss/abstractions/_widths.scss */
  .between-one-twelfth {
    width: 8.333%; }

  /* line 99, ../scss/abstractions/_widths.scss */
  .between-five-twelfths {
    width: 41.666%; }

  /* line 101, ../scss/abstractions/_widths.scss */
  .between-seven-twelfths {
    width: 58.333%; }

  /* line 105, ../scss/abstractions/_widths.scss */
  .between-eleven-twelfths {
    width: 91.666%; } }
@media only screen and (max-width: 640px) {
  /**
  * Whole
  */
  /* line 18, ../scss/abstractions/_widths.scss */
  .sm-one-whole {
    width: 100%; }

  /**
  * Halves
  */
  /* line 24, ../scss/abstractions/_widths.scss */
  .sm-one-half, .sm-two-quarters, .sm-three-sixths, .sm-four-eighths, .sm-five-tenths, .sm-six-twelfths {
    width: 50%; }

  /**
  * Thirds
  */
  /* line 30, ../scss/abstractions/_widths.scss */
  .sm-one-third, .sm-two-sixths, .sm-four-twelfths {
    width: 33.333%; }

  /* line 31, ../scss/abstractions/_widths.scss */
  .sm-two-thirds, .sm-four-sixths, .sm-eight-twelfths {
    width: 66.666%; }

  /**
  * Quarters
  */
  /* line 37, ../scss/abstractions/_widths.scss */
  .sm-one-quarter, .sm-two-eighths, .sm-three-twelfths {
    width: 25%; }

  /* line 39, ../scss/abstractions/_widths.scss */
  .sm-three-quarters, .sm-six-eighths, .sm-nine-twelfths {
    width: 75%; }

  /**
  * Fifths
  */
  /* line 45, ../scss/abstractions/_widths.scss */
  .sm-one-fifth, .sm-two-tenths {
    width: 20%; }

  /* line 46, ../scss/abstractions/_widths.scss */
  .sm-two-fifths, .sm-four-tenths {
    width: 40%; }

  /* line 47, ../scss/abstractions/_widths.scss */
  .sm-three-fifths, .sm-six-tenths {
    width: 60%; }

  /* line 48, ../scss/abstractions/_widths.scss */
  .sm-four-fifths, .sm-eight-tenths {
    width: 80%; }

  /**
  * Sixths
  */
  /* line 54, ../scss/abstractions/_widths.scss */
  .sm-one-sixth, .sm-two-twelfths {
    width: 16.666%; }

  /* line 58, ../scss/abstractions/_widths.scss */
  .sm-five-sixths, .sm-ten-twelfths {
    width: 83.333%; }

  /**
  * Eighths
  */
  /* line 64, ../scss/abstractions/_widths.scss */
  .sm-one-eighth {
    width: 12.5%; }

  /* line 66, ../scss/abstractions/_widths.scss */
  .sm-three-eighths {
    width: 37.5%; }

  /* line 68, ../scss/abstractions/_widths.scss */
  .sm-five-eighths {
    width: 62.5%; }

  /* line 70, ../scss/abstractions/_widths.scss */
  .sm-seven-eighths {
    width: 87.5%; }

  /**
  * Tenths
  */
  /* line 76, ../scss/abstractions/_widths.scss */
  .sm-one-tenth {
    width: 10%; }

  /* line 78, ../scss/abstractions/_widths.scss */
  .sm-three-tenths {
    width: 30%; }

  /* line 81, ../scss/abstractions/_widths.scss */
  .left-right .sm-four-tenths {
    clear: both; }

  /* line 87, ../scss/abstractions/_widths.scss */
  .sm-seven-tenths {
    width: 70%; }

  /* line 89, ../scss/abstractions/_widths.scss */
  .sm-nine-tenths {
    width: 90%; }

  /**
  * Twelfths
  */
  /* line 95, ../scss/abstractions/_widths.scss */
  .sm-one-twelfth {
    width: 8.333%; }

  /* line 99, ../scss/abstractions/_widths.scss */
  .sm-five-twelfths {
    width: 41.666%; }

  /* line 101, ../scss/abstractions/_widths.scss */
  .sm-seven-twelfths {
    width: 58.333%; }

  /* line 105, ../scss/abstractions/_widths.scss */
  .sm-eleven-twelfths {
    width: 91.666%; } }


/*parceiros*/

.title_depo h1 {
    color: #02aeef;
    font-weight: 900;
    font-size: 39px;

    line-height: 45px;
}


.testimonials-v3 {
    padding: 100px 0 60px 0;
    font-family: "Open Sans", Arial, sans-serif;
    background-color: #e7e7e7;

}



.service-block-v4:after {
    display: none;
}

.depo1 {
    background-color: #7b0051;
    padding: 30px;
}

.depo1 h2 {
    color: #e9dde3;
    font-size: 35px;
    font-weight: 900;
    font-style: italic;
    text-align: left;
    width: 100%;
}

.depo1 p {
    color: #fff;
    font-size: 17px;
    font-weight: 100;
    text-align: left;
    letter-spacing: 1px;
    line-height: 23px;


}


.depo3 {
  margin-top: 20px;
  margin-bottom: 20px;
}


.titlebox2 h2 {
    color: #000;
    font-weight: 900;
    font-size: 39px;
    text-align: left;
    line-height: 45px;
    padding-top: 50px;
  }

.titlebox2 p {
    color: #3c3c3c;
    font-weight: 200;
    font-size: 17px;
    font-style: italic;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 1px;
  }



/*Conheça*/







/*premium*/
.sectionvideo {
  background-color: #482b62 !important;
}



.sectionvideo h1 {
    font-size: 39px;
    font-weight: 900;
    line-height: 50px;
    color: #e0e0e0;
    max-width: 739px;
    padding-top: 50px;

}

.sectionvideo p {
      font-size: 17px;
    font-weight: 200;
    font-style: italic;
    color: #e0e0e0;
    letter-spacing: 1px;
    max-width: 639px;
    padding-bottom: 50px;

}

.team-v7 .team-arrow-right:before {

    display: none;
}

.service-block-v6 {
  padding-top: 20px;
}

.notebookpremium h2 {
      color: #3595b9;
    font-size: 39px;
    font-weight: 900;
    line-height: 44px;
}

.notebookpremium p {
      color: #555;
    font-size: 17px;
    font-weight: 200;
}

.featurenote p {
      color: #555;
    font-size: 17px;
    font-weight: 200;
}

.icon_m {
    float: left;
    margin: 5px 15px 0 0;
}

.bg-image-v67 {
    width: 100%;
    height: auto;
    padding: 70px 0 70px 0;
    position: relative;
    background: url(../img/new/premium/mobile.jpg) repeat center;
    background-size: cover;
    background-position: center center;
}

.cellphone1 h1{
    color: #fff;
    margin-top: 5px;
    text-shadow: none;
    font-family: "Open Sans", Arial, sans-serif;
    max-width: 78%;
    margin: 0 auto;
    font-weight: 800;
    font-size: 39px;
    line-height: 56px;
    margin-bottom: 30px;
}

.cellphone1 p{
        font-size: 17px;
    margin-top: 30px;
    font-weight: 200;
    font-style: italic;
    max-width: 620px;
    margin: 0 auto;
}

.service-price-premium {
    position: relative;
    padding: 20px 0 20px;
    background: none;
    background-color: #02aeef;
}


.service-price-premium h2{
    font-size: 39px;
    font-weight: 900;
    color: #fff;
    line-height: 44px;
    max-width: 800px;
    margin: 0 auto;
}

.service-price-premium p {
      font-size: 17px;
    color: #fff;
    font-weight: 200;
    font-style: italic;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 0 60px 0;
}

.btnprice {
  margin-top: 50px;
  background-color: #015f83;
  color: #fff;
    }

.btnprice:hover {
  margin-top: 50px;
  background-color: #166e8f;
  color: #fff;
    }

.btnprice:focus {
  margin-top: 50px;
  background-color: #015f83;
  color: #fff;
    }

.ms-slide__img{
  position: absolute;
}


.titlebannerpremium1 {
  font-size: 57px;
  font-weight: 800;
  color: #fff;
  text-align: center;
  margin: 0 auto;;
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0%;
  padding-top: 250px;
}



.titlebannerpremium1a{
  font-size: 34px;
  font-weight: 100;
  color: #fff;
  font-style: italic;
  left:140px;
  text-align: center;
  top:240px
}

.titlebannerpremium1b{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  position: relative;
top: 0;
}



.titlebannerpremium1c {
  position: relative;
margin: 20px auto;
display: block;
max-width: 160px;
text-align: center;}

.banner2premium{
  background-color: #00364d;
  color: #00364d;
}

.banner2a {
  top: 40px;
  left: 300px;
}

.banner2d {
  left: 440px;
  top: 490px;


}



.banner2b1 {
      top: 314px;
  left: 50px ;
        font-weight: 200;
    font-style: italic;
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
}

.banner2b2 {
  top: 350px;
        font-weight: 200;
    font-style: italic;
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
}

.banner2b3 {
    left: 173px;
    top: 335px;
    font-weight: 900;
    line-height: 45px;
    font-style: italic;
    font-size: 39px;
    text-transform: uppercase;
    color: #00aeef;
}

.banner2b4 {
  top: 379px;
     font-weight: 900;
    line-height: 45px;
    font-style: italic;
    font-size: 39px;
    text-transform: uppercase;
    color: #00aeef;
}

.banner2b5 {
    left: 280px;
    top: 424px;
        font-weight: 200;
    font-style: italic;
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
}

.banner2b {
  top: 320px;
  left: 50px ;
        font-weight: 200;
    font-style: italic;
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
}




.banner2c {
  top: 320px;
  left: 730px ;
        font-weight: 200;
    font-style: italic;
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
}

.banner2c1 {
  top: 345px;
  left: 720px ;
        font-weight: 900;
            line-height: 45px;

    font-style: italic;
    font-size: 39px;
    text-transform: uppercase;
    color: #00aeef;
}

.banner2c2 {
    left: 710px;
    top: 434px;
    font-weight: 100;
    font-style: italic;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}



.banner3img{
    left: 419px;
    top: 60px;

}

.banner3icon1 {
  top: 80px ;
  left: 110px;
}

.banner3a {
    top: 139px ;
  left: 110px;
          font-weight: 200;
    font-style: italic;
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;

}

.banner3b{
    left: 110px;
    top: 194px;
      font-weight: 900;
    line-height: 34px;
    font-style: italic;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;

}

.banner3icon2 {
    left: 560px;
    top: 310px;
}


.banner3c {
    top: 300px ;
  left: 620px;
          font-weight: 200;
    font-style: italic;
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;

}

.banner3d{
    left: 620px;
    top: 330px;
      font-weight: 900;
    line-height: 34px;
    font-style: italic;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;

}

.banner3e {
    top: 400px ;
  left: 620px;
          font-weight: 200;
    font-style: italic;
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;

}

.container-fluid1 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(to bottom, #00aeef 0%,#00aeef 70%,#f6f6f6 60%,#f6f6f6 100%);
}

.premium1 {padding-top: 100px;}

.premium1 h2 {
      font-size: 39px;
    font-weight: 900;
    color: #fff;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    line-height: 41px;
}


.premium1 p {
      font-size: 17px;
    font-weight: 200;
    max-width: 554px;
    margin: 0 auto;
    padding-top: 23px;
    text-align: center;
    color: #fff;
}

.pointspremium {
  background-color: #f6f6f6;
}

.pointspremium p {
      font-size: 17px;
    font-weight: 200;
    font-style: italic;
}

/*premium*/



/*english*/
.interactive-slider-v4{
    z-index: 1;
    padding: 200px 0;
    position: relative;
    text-align: center;
    background: url(../img/bg/english.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}


.englishbanner1 h2{
      font-size: 57px;
    color: #fff;
    font-weight: 900;
    margin: 0 auto;
    text-align: center;
    line-height: 57px;
}

.englishbanner1 p {
      font-size: 17px;
    margin: 0 auto;
    color: #fff;
    font-weight: 200;
    padding-top: 30px;
    padding-bottom: 60px;
}


.english-introduce h2 {
    font-size: 39px;
    font-weight: 900;
    color: #00aeef;
    line-height: 44px;
    max-width: 572px;
    margin: 0 auto;
}

.english-introduce h3 {
    font-size: 17px;
    font-weight: 400;
    margin: 0 auto;
    max-width: 600px;
    padding-top: 15px;
    color: #555;
}

.english-introduce p {
    font-size: 17px;
    font-weight: 200;
    margin: 0 auto;
    max-width: 742px;
    padding-top: 15px;
    color: #555;
}

.english-introduce h3 {
    font-size: 25px;
    font-weight: 800;
    max-width: 742px;
    color: #00aeef;
    text-align: center;
}

.english-introduce h4 {
    font-size: 17px;
    font-weight: 200;
    max-width: 742px;
    color: #555;
    text-align: center;
}


.english-block1 {
    padding: 0 30px 20px 30px;
    text-align: center;
    background: url(../img/new/english/img3.jpg) right no-repeat;
    margin-bottom: 20px;
    height: 410px;
}


.english-block2 {
    padding: 0 30px 20px 30px;
    text-align: center;
    background: url(../img/new/english/img4.jpg) center  no-repeat;
    margin-bottom: 20px;
    height: 410px;
}

.english-block3 {
    padding: 0 30px 20px 30px;
    text-align: center;
    background: url(../img/new/english/img5.png) center right no-repeat;
    margin-bottom: 20px;
    height: 220px;
}

.english-block4 {
    padding: 0 30px 20px 30px;
    text-align: center;
    background-color: #027a87;
    margin-bottom: 20px;
    height: 220px;
}

.english-block5 {
    padding: 0 30px 20px 30px;
    text-align: center;
    background: url(../img/new/english/img6.jpg) center  no-repeat;
    margin-bottom: 20px;
    height: 220px;
}

.english-banner{
    background-color: #e7e7e7;
}



.bannerenglish1 h2{
    color: #fff;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 85px;
    margin: 0 auto;
    text-align: left;
    max-width: 742px;
}

.bannerenglish1 p {
    color: #fff;
    font-weight: 100;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 1px;
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    width: 85%;
    text-align: left;
    max-width: 377px;
}


.bannerenglish2 h2{
    color: #fff;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 85px;
    right: 35px;
    margin: 0 auto;
    text-align: right;
    max-width: 413px;
}

.bannerenglish2 p {
    color: #fff;
    font-weight: 100;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 1px;
    position: absolute;
    bottom: 20px;
    right: 35px;
    margin: 0 auto;
    width: 85%;
    text-align: right;
    max-width: 385px;
}


.bannerenglish3 h2{
    color: #fff;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 95px;
    margin: 0 auto;
    text-align: left;
    max-width: 259px;
}

.bannerenglish3 p {
    color: #fff;
    font-weight: 100;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 1px;
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    width: 85%;
    text-align: left;
    max-width: 259px;
}


.english_depo h1 {

    font-size: 39px;
    font-weight: 900;
    color: #00aeef;
    line-height: 44px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;

}


.english_depo h5 {
    font-size: 15px;
    font-weight: 800;
    color: #00aeef;
    text-align: center;
    margin-bottom: 2px;
}

.english_features {
  background-color: #e7e7e7;

}

.english_features h1 {
    font-size: 39px;
    font-weight: 900;
    color: #00aeef;
    line-height: 44px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}


.english_features h2 {
  color: #00aeef;
    font-weight: 600;
    font-size: 19px;
}

.features_english  li{
    color: #555;
    text-align: left;
    line-height: 1.6;
    margin-bottom: 15px;

}

.features_english ol {
    list-style: url(../img/new/check.png);
    content: "\f00c";
}






.seu_ganho p {
    text-align: right;
    font-style: italic;
    font-size: 39px;
    font-weight: 100;
    color: #00aeef;
    float: right;
    width: 200px;
    line-height: 39px;

}



.modal{
  top: 30%;
}


.modal-header {
    border-bottom: none;
    padding: 15px 15px 5px 15px;
}

.modal-content {

        position: relative;
    background-color: #1cafec;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px ;

    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    text-align: center;
    color: #fff;
    font-size: 34px;
    font-weight: 900;
}

.sb-close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
}

.close {
    float: right;
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.modal-header p{
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: 200;
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
}

.form-group .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    margin-top: 20px;
    width: 100%;
    margin-top: 0 auto;
    border: 0px;

}

.check_english:before{

}




/*english*/




































































/*footer*/
.footer-v1 .footer h2{
	    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0px;
}

.footer-v1 .footer h3{
	    font-size: 16px;
    font-weight: 200;
    color: #fff;
    margin-top: 0px;
}

.footer-v1 .copyright p {
    color: #7d7d7d;
    margin-top: 14px;
    float: right;
}

.footer-v1 .footer-socials {
    margin-top: 12px;
    text-align: left;
}


.footer-v1 .footer-socials li a {
    color: #777;
    font-size: 11px;
}


/*footer*/
