<p id="notice"><%= notice %></p>

<h1>Listing Skills</h1>

<table>
  <thead>
    <tr>
      <th>Skill category</th>
      <th>Name</th>
      <th>Date</th>
      <th>Score</th>
      <th>Level</th>
      <th>Rank</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= skill.skill_category %></td>
        <td><%= skill.name %></td>
        <td><%= skill.date %></td>
        <td><%= skill.score %></td>
        <td><%= skill.level %></td>
        <td><%= skill.rank %></td>
        <td><%= link_to 'Show', skill %></td>
        <td><%= link_to 'Edit', edit_skill_path(skill) %></td>
        <td><%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skill', new_skill_path %>
