<p id="notice"><%= notice %></p>

<p>
  <strong>Skill category:</strong>
  <%= @skill.skill_category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @skill.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @skill.date %>
</p>

<p>
  <strong>Score:</strong>
  <%= @skill.score %>
</p>

<p>
  <strong>Level:</strong>
  <%= @skill.level %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @skill.rank %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
