<!--=== Footer Version 1 ===-->
<div class="footer-v1">
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- Link List -->

        <div class="col-md-12 md-margin-bottom-40">
          <a href="index.html"><img id="logo-footer" class="footer-logo img-responsive img-center" src="assets/img/logo2-default.png" alt=""></a>

        </div>

        <div class="col-md-4">

          <ul class="list-unstyled link-list">
            <li><a href="conheca.html">Conheça a VanHack</a></li>
            <li><a href="premium.html">VanHack Premium</a></li>
            <li><a href="english.html">VanHack English</a></li>

          </ul>
        </div>
        <!-- End Link List -->


        <!-- Link List -->
        <div class="col-md-4 md-margin-bottom-40">
          <ul class="list-unstyled link-list">
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contato.html">Contatos</a></li>
            <li><a href="premium.html">Premium</a></li>

          </ul>
        </div>
        <!-- End Link List -->

        <!-- About -->
        <div class="col-md-4 md-margin-bottom-40">
          <div class="">
            <h2>CADASTRE-SE E RECEBA DICAS GRATUITAS</h2>
            <h3>que vão garantir o seu sucesso.</h3>
          </div>
          <form class="footer-subsribe">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Digite seu email">
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="button">Quero receber</button>
                                </span>
            </div>
          </form>
        </div><!--/col-md-3-->
        <!-- End About -->

      </div>
    </div>
  </div><!--/footer-->

  <div class="copyright">
    <div class="container">
      <div class="row">
        <!-- Social Links -->
        <div class="col-md-6">
          <ul class="footer-socials list-inline">
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                <i class="fa fa-facebook"></i> Dicas e promoções especiais.
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="youtube">
                <i class="fa fa-youtube"></i> Notícias e novidades.
              </a>
            </li>

            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                <i class="fa fa-twitter"></i>Conteúdos exclusivos.
              </a>
            </li>

          </ul>
        </div>
        <!-- End Social Links -->

        <div class="col-md-6">
          <p>2015 &copy; Vanhack. Todos os direitos reservados.</p>
        </div>
      </div>
    </div>
  </div><!--/copyright-->
</div>
<!--=== End Footer Version 1 ===-->