<!--=== Header v3 ===-->
<div class="header-v3 header-sticky">
  <!-- Navbar -->
  <div class="navbar navbar-default mega-menu" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars"></span>
        </button>
        <a class="navbar-brand" href="/">
          <%= image_tag "img/logo1-default.png", alt: "Logo" %>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
          <ul class="nav navbar-nav">
            <!-- Home -->
            <li class="">
              <a href="/about">
                ABOUT
              </a>

            </li>
            <!-- End Home -->

            <!-- Blog -->
            <li class="">
              <a href="/blog">
                BLOG
              </a>

            </li>
            <!-- End Blog -->

            <!-- Portfolio -->
            <li class="">
              <a href="/contact">CONTACT</a>
            </li>
            <!-- Log in -->
            <li class="">

              <% if user_signed_in? %>

                  <% if current_user.premium? %>

                      <%= link_to('PREMIUM ACCOUNT', user_path) %>

                      <!-- %= link_to('LOG OUT', destroy_user_session_path, :method => :delete) % -->

                  <% else %>

                      <%= link_to('FREE ACCOUNT', user_path) %>

                  <% end %>


              <% else %>

                  <%= link_to('LOG IN', new_user_session_path)  %>

              <% end %>

            </li>


            </li>
            <!-- End Portfolio -->

            <% if user_signed_in? && !current_user.premium? %>

                <!-- Shortcodes -->
                <li class="btn_premium">

                  <a href="/premium">PREMIUM</a>

                </li>
                <!-- End Shortcodes -->

            <% end %>



          </ul>

        </div><!--/end container-->
      </div><!--/navbar-collapse-->
    </div>
  </div>
  <!-- End Navbar -->
</div>
<!--=== End Header v3 ===-->
