<!-- Icon Boxes 41 -->
<div class="container content-md">
  <div class="row margin-bottom-40">
    <div class="col-md-4 col-sm-6">
      <div class="section-block service-or service-block1">
        <div class="text-center">
          <h2>Suporte</h2>
        </div>
        </br>
        <div class="clearfix"></div>
        <div class="text-center">
          <p>Nós ajudamos no seu desenvolvimento de competências e habilidades profissionais para você entrar no mercado canadense.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="section-block service-or service-block2">
        <div class="text-center">
          <h2>Conexão</h2>
        </div>
        </br>
        <div class="clearfix"></div>
        <div class="text-center">
          <p>Nós preparamos você para se conectar com empresas, investidores, empreendedores e recrutadores do mercado digital canadense.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="section-block service-or service-block3">
        <div class="text-center">
          <h2>Conteúdo</h2>
        </div>
        </br>
        <div class="clearfix"></div>
        <div class="text-center">
          <p>Biblioteca de vídeos com entrevistas de profissionais da área e cursos de adequação do perfil profissional para o mercado digital canadense.</p>
        </div>
      </div>
    </div>


  </div>

</div>
<!-- End Icon Boxes 41 -->