<!-- Parallax Section -->
<div class="bg-image-v1 parallaxBg">
  <div class="container">
    <div class="headline-center headline-light home2">
      <h1>VOCÊ ATUA NA ÁREA DE MÍDIA DIGITAL E TECNOLOGIA, E DESEJA TER QUALIDADE DE VIDA E CRESCIMENTO PROFISSIONAL NO CANADÁ?</h1>
      <p>Cadastre-se e receba dicas gratuitas que vão garantir o seu sucesso.</p><br>

      <form class="col-md-6 col-md-offset-3">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Digite seu email">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button">Quero receber</button>
                        </span>
        </div>
      </form>

    </div><!--/end Headline Center-->
  </div>
</div>
<!-- End Parallax Section -->