

<%= form_for(current_user, :url => {:controller=>'users/registrations', :action => 'pay'}, :html => {:class => "reg-page"}) do |f| %>

  <script src="https://checkout.stripe.com/v2/checkout.js"
          class="stripe-button"
          data-label= "<%= button_text %>"
          data-email="<%= current_user.email %>"
          data-key="<%= Rails.application.secrets.stripe_publishable_key %>"
          data-description="<%= Rails.application.secrets.product_title %>"
          data-amount="<%= Rails.application.secrets.product_price %>">
  </script>

<% end %>