<!-- Interactive Slider v2 -->
<div class="interactive-slider-v2">
  <div class="container">

    <div class="row">
      <div class="col-md-6 ">
        <div class="img-responsive img-center">
          <a class="venobox venoboxvid" data-type="vimeo" href="https://player.vimeo.com/video/138904868?rel=0&amp;autoplay=1">
            <img class="img-responsive" src="assets/img/new/home/title.png" alt=""></a>
        </div>
      </div>
      <div class="col-md-6">
        <br><br><br>
        <div class="headline-left margin-bottom-30">
          <div class="img-responsive img-center">
            <a class="venobox venoboxvid" data-type="vimeo" href="https://player.vimeo.com/video/138904868?rel=0&amp;autoplay=1">
              <img class="img-responsive" src="assets/img/new/home/play.png" alt=""></a>
          </div>
        </div>

      </div><!--/end row-->

    </div>


  </div>
</div>
<!-- End Interactive Slider v2 -->