<!DOCTYPE html>
<html>
<head>
  <title>VanHack Skeleton</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- Web Fonts -->
</head>
<body class="header-fixed">

<div class="wrapper">

    <%= render :partial => "layouts/header" %>

</div>
<% if !notice.nil? %>
<p class="notice"><%= notice %></p>
<% end %>

<% if !alert.nil? %>
<p class="alert"><%= alert %></p>
<% end %>

<%= yield %>

<%= render :partial => "layouts/footer" %>

</body>
</html>
