<%= form_tag charges_path do %>
    <article>
      <label class="amount">
        <span>Amount: $<%= I18n.t 'stripes.price_integer' %></span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="<%= I18n.t 'stripe.description' %>"
            data-amount="<%= I18n.t 'stripes.price_integer' %>"
            data-locale="auto"></script>
<% end %>