<!-- form class="form-horizontal" role="form" -->

  <%= form_for @account, url: {controller: "account", action: "update"}, :html => {:class => "form-horizontal"}  do |f| %>

  <div class="form-group">
    <label for="" class="col-lg-2 control-label">First Name</label>
    <div class="col-lg-9">
      <%= f.text_field :first_name, placeholder:"Type your first name", autofocus: true, class: "form-control" %>
    </div>
  </div>

    <div class="form-group">
      <label for="" class="col-lg-2 control-label">First Name</label>
      <div class="col-lg-9">
        <%= f.text_field :last_name, placeholder:"Type your last name", autofocus: true, class: "form-control" %>
      </div>
    </div>

  <div class="form-group">
    <label for="" class="col-lg-2 control-label">Mailing Address</label>
    <div class="col-lg-9">
      <%= f.text_field :address, placeholder:"Type your mailing address", autofocus: true, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-lg-2 control-label">Country</label>
    <div class="col-lg-9">
      <%= f.text_field :country, placeholder:"e.g. Canada", autofocus: true, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword1" class="col-lg-2 control-label">City</label>
    <div class="col-lg-9">
      <%= f.text_field :city, placeholder:"e.g. Vancouver", autofocus: true, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword1" class="col-lg-2 control-label">Self Description:</label>
    <div class="col-lg-9">
      <%= f.text_area :description, :rows => "3", autofocus: true, class: "form-control" %>
    </div>
  </div>
  <div class="panel-heading">
    <h3 class="">Contact Information</h3>
  </div>
  <div class="panel-body">
      <div class="form-group">
        <label for="inputEmail1" class="col-lg-2 control-label">E-mail</label>
        <div class="col-lg-9">
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword1" class="col-lg-2 control-label" placeholder="">Phone </label>
        <div class="col-lg-9">
          <%= f.phone_field :phone, autofocus: true, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail1" class="col-lg-2 control-label">Linkedin</label>
        <div class="col-lg-9">
          <%= f.text_field :linkedin, autofocus: true, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword1" class="col-lg-2 control-label">Skype</label>
        <div class="col-lg-9">
          <%= f.text_field :skype, autofocus: true, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword1" class="col-lg-2 control-label">GitHub</label>
        <div class="col-lg-9">
          <%= f.text_field :github, autofocus: true, class: "form-control" %>
        </div>
      </div>
      <hr>

    <%= render partial: "skills" %>

    <%= render partial: "projects" %>

      <!-- End Content -->
      <div class="form-group">
        <div class=" text-right">
          <%= f.submit "Save", :class => "btn-u" %>
        </div>
      </div>
    </form>
  </div>

<% end %>