<!-- Begin Content -->
<div class="col-md-12">
  <!--Basic Table-->
  <div class="panel panel-blue margin-bottom-40">
    <div class="panel-heading">
      <h3 class="panel-title text-center"> Projects</h3>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>Company</th>
        <th>Project Name</th>
        <th>Date</th>
        <th>Techs</th>
        <th>Link</th>
      </tr>
      </thead>
      <tbody>

      <% @account.projects.each do |project| %>

          <tr>
            <td><%= project.company %></td>
            <td><%= project.name %></td>
            <td><%= project.date %></td>
            <td><%= project.techs %></td>
            <td><%= project.link %></td>
          </tr>

      <% end %>

      <% if @account.projects.empty? %>
          <tr>
            <td colspan="5">You don't have any project yet.</td>
          </tr>
      <% end %>

      </tbody>
    </table>
  </div>
  <!--End Basic Table-->
</div>