 <!--=== Content Part ===-->
               <div class="container content">
                  <div class="row">
                     <!-- Begin Sidebar Menu -->
                     <div class="col-md-3">

                        <!-- img src="assets/img/new/profile/profile.jpg" alt="" -->

                       <%= image_tag "#{avatar_url(@account)}&s=236" %>

                     </div>
                     <!-- End Sidebar Menu -->

                     <!-- Begin Content -->
                     <div class="col-md-9">
                        <!-- Horizontal Form -->
                        <div class="panel-heading">
                           <h3 class="">Personal Information</h3>
                        </div>
                        <div class="panel-body">

                            <%= render partial: "form" %>

                        </div>
                        <!-- End Horizontal Form -->

                     </div>
                  </div>
               </div>
               <!-- End Content -->
            </div>
            </div><!--/container-->
            <!--=== End Content Part ===-->
          
