<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :markets %><br>
    <%= f.text_field :markets %>
  </div>
  <div class="field">
    <%= f.label :high_concept_pitch %><br>
    <%= f.text_field :high_concept_pitch %>
  </div>
  <div class="field">
    <%= f.label :why_us %><br>
    <%= f.text_area :why_us %>
  </div>
  <div class="field">
    <%= f.label :product %><br>
    <%= f.text_area :product %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
