

 <!-- Interactive Slider v2 -->
    <div class="interactive-slider-v2">
        <div class="container">

            <div class="row">
            <div class="col-md-6 ">
                <div class="img-responsive img-center">
                <a class="venobox venoboxvid" data-type="vimeo" href="https://player.vimeo.com/video/138904868?rel=0&amp;autoplay=1">
                <img class="img-responsive" src="assets/img/new/home/title.png" alt=""></a>
            </div>
            </div>
            <div class="col-md-6">
                <br><br><br>
                <div class="headline-left margin-bottom-30">
                    <div class="img-responsive img-center">
                <a class="venobox venoboxvid" data-type="vimeo" href="https://player.vimeo.com/video/138904868?rel=0&amp;autoplay=1">
                <img class="img-responsive" src="assets/img/new/home/play.png" alt=""></a>
            </div>
                </div>

            </div><!--/end row-->

</div>


        </div>
    </div>
    <!-- End Interactive Slider v2 -->


<!-- Parallax Section -->
    <div class="bg-image-v1 parallaxBg">
        <div class="container">
            <div class="headline-center headline-light home2">
                <h1>VOCÊ ATUA NA ÁREA DE MÍDIA DIGITAL E TECNOLOGIA, E DESEJA TER QUALIDADE DE VIDA E CRESCIMENTO PROFISSIONAL NO CANADÁ?</h1>
                <p>Cadastre-se e receba dicas gratuitas que vão garantir o seu sucesso.</p><br>

                <form class="col-md-6 col-md-offset-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Digite seu email">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button">Quero receber</button>
                        </span>
                    </div>
                </form>

            </div><!--/end Headline Center-->
        </div>
    </div>
    <!-- End Parallax Section -->









<!-- Icon Boxes 41 -->
    <div class="container content-md">
        <div class="row margin-bottom-40">
            <div class="col-md-4 col-sm-6">
                <div class="section-block service-or service-block1">
                    <div class="text-center">
                        <h2>Suporte</h2>
                    </div>
                    </br>
                    <div class="clearfix"></div>
                    <div class="text-center">
                        <p>Nós ajudamos no seu desenvolvimento de competências e habilidades profissionais para você entrar no mercado canadense.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="section-block service-or service-block2">
                    <div class="text-center">
                        <h2>Conexão</h2>
                    </div>
                    </br>
                    <div class="clearfix"></div>
                    <div class="text-center">
                        <p>Nós preparamos você para se conectar com empresas, investidores, empreendedores e recrutadores do mercado digital canadense.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="section-block service-or service-block3">
                    <div class="text-center">
                        <h2>Conteúdo</h2>
                    </div>
                    </br>
                    <div class="clearfix"></div>
                    <div class="text-center">
                        <p>Biblioteca de vídeos com entrevistas de profissionais da área e cursos de adequação do perfil profissional para o mercado digital canadense.</p>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <!-- End Icon Boxes 41 -->





               <div class="owl-carousel-v4 margin-bottom-40">


               <div class=" videos">
                  <div class="text-center margin-bottom-40 titlevideo">
                     <h2>Dicas para ingressar no mercado digital canadense.</h2>
                  </div>


                  <div class="container">

            <div class="col-md-1">
</div>

            <div class="col-md-10 col-sm-12">

                     <div class="slider responsive">
                        <div class="item">

                                <a class="venobox venoboxvid" data-type="vimeo" href="https://player.vimeo.com/video/126779315?rel=0&amp;autoplay=1">
                            <img class="img-responsive" width="375px"  src="assets/img/main/img1.jpg" alt="">

                               </a>
                           <h3 class="custom_vanhack">Dicas para conseguir emprego na área de TI canadense</h3>
                           <h5 class="h5_custom">Sam Baruffi</h5>
                           <h6>Network Engineer, Colony Networks</h6>
                        </div>
                        <div class="item">
                           <a class="venobox venoboxvid" data-type="vimeo" href="https://player.vimeo.com/video/124890325?rel=0&amp;autoplay=1">
                           <img class="img-responsive imghover"  width="375px"  src="assets/img/main/img2.jpg" alt="">
                           </a>
                           <h3 class="custom_vanhack">Dicas de empreendedorismo e Freelancing no Canadá</h3>
                           <h5 class="h5_custom">Dimitri Kozma</h5>
                           <h6>Founder, Canadá Diário</h6>
                        </div>
                        <div class="item">
                           <a class="venobox venoboxvid" data-type="vimeo"  href="https://player.vimeo.com/video/126474032?rel=0&amp;autoplay=1">
                           <img class="img-responsive imghover" width="375px"  src="assets/img/main/img3.jpg" alt="">
                           </a>
                           <h3 class="custom_vanhack">Consegui um emprego numa startup canadense</h3>
                           <h5 class="h5_custom">Jayesh Parmar</h5>
                           <h6>CEO, Picatic</h6>
                        </div>
                        <div class="item">
                           <a class="venobox venoboxvid" data-type="vimeo" href="http://player.vimeo.com/video/126634891?rel=0&amp;autoplay=1">
                           <img class="img-responsive imghover" width="375px"  src="assets/img/main/img4.jpg" alt="">
                           </a>
                           <h3 class="custom_vanhack">Como entrar numa Aceleradora Canadense</h3>
                           <h5 class="h5_custom">Slav Kurilyak</h5>
                           <h6>CTO Fitplan</h6>
                        </div>
                        <div class="item">
                           <a class="venobox venoboxvid" data-type="vimeo"  href="https://player.vimeo.com/video/124126690?rel=0&amp;autoplay=1">
                           <img class="img-responsive imghover" width="375px"  src="assets/img/main/img5.jpg" alt="">
                           </a>
                           <h3 class="custom_vanhack">British Colombia é um ótimo lugar para levar sua startup</h3>
                           <h5 class="h5_custom">Patrick Sauriol</h5>
                           <h6>Executive Director, DigiBC</h6>
                        </div>
                     </div>
                  </div>
               </div>
           </div>

            <div class="col-md-1">
</div>

</div>
</div>














    <!--=== Service Info ===-->
    <div class="service-info">
        <div class="container content-sm">
            <div class="row ebook">
                <div class="col-md-6 ">
                    <img class="img-responsive img-center" src="assets/img/new/home/ebook.png" alt="">
                </div>
            <div class="col-md-6">

                <div class="headline-left margin-bottom-30">
                    <h2 class="">Digite seu email para receber o ebook.</h2>
                    <p>Baixe nosso guia gratuito, com diversas informações sobre a cidade e dicas de colleges e faculdades para estudar. <span class="color-blue">Hacking Vancouver é o nosso primeiro ebook gratuito, baixe já!</span></p>
                </div>
                <form class="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Digite seu email">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button">Quero Ler o Ebook!</button>
                        </span>
                    </div>
                </form>
            </div><!--/end row-->
        </div>
        </div><!--/container-->
    </div>
    <!--=== End Service Info ===-->


    <!--=== Service Info ===-->
    <div class="service-info-beneficios">
        <div class="container content-sm">
            <div class="row ebookrow">
             <li class="equal-height-columns beneficios_vk">
                        <div class="cbp_tmlabel equal-height-column">
                            <h2>Veja os benefícios de se tornar um</h2>
                            <h1>VanHacker!</h1>

                            <div class="col-sm-4 listahome">
                                <ul class="list-unstyled ">
                                    <li><i class="fa fa-check color-white"></i> Consulta Personalizada;</li>
                                    <li><i class="fa fa-check color-white"></i> Grupo WhatsApp;</li>
                                    <li><i class="fa fa-check color-white"></i> Contato com Investidores;</li>
                                    <li><i class="fa fa-check color-white"></i> Contato das empresas;</li>
                                </ul>
                            </div>
                            <div class="col-sm-4 listahome">
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-check color-white"></i> Hangouts semanais;</li>
                                    <li><i class="fa fa-check color-white"></i> Acervo de vídeos exclusivos;</li>
                                    <li><i class="fa fa-check color-white"></i> Currículo e Cover Letter.</li>
                                </ul>
                            </div>

                        </div>
                    </li>

            </div><!--/end row-->

            <div class="col-md-6 col-md-offset-3 btnhomevanhack">
                <a href="premium.html#premiumprice" class="btn btn-block btn-android">Seja um VanHacker.</a>
            </div>
        </div>
        </div><!--/container-->
    </div>
    <!--=== End Service Info ===-->
