
               <!--=== Content Medium Part ===-->
               <div class="content-md margin-bottom-30">
                  <div class="container">
                     <form class="shopping-cart" action="#">
                        <div>
                           <div class="header-tags">
                              <div class="overflow-h">
                                 <h2>Carrinho de Compras</h2>
                                 <p>Edite seu produto</p>
                                 <i class="rounded-x fa fa-check"></i>
                              </div>
                           </div>
                           <section>
                              <div class="table-responsive">
                                 <table class="table table-striped">
                                    <thead>
                                       <tr>
                                          <th>Produto</th>
                                          <th>Preço</th>
                                          <th>Quantidade</th>
                                          <th>Total</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr>
                                          <td class="product-in-table">
                                             <img class="img-responsive" src="assets/img/thumb/08.jpg" alt="">
                                             <div class="product-it-in">
                                                <h3>VanHack Premium</h3>
                                                <span>1 ano de assinatura</span>
                                             </div>
                                          </td>
                                          <td>R&#36; 1.678,00</td>
                                          <td>
                                             <button type='button' class="quantity-button" name='subtract' onclick='javascript: subtractQty1();' value='-'>-</button>
                                             <input type='text' class="quantity-field" name='qty1' value="5" id='qty1'/>
                                             <button type='button' class="quantity-button" name='add' onclick='javascript: document.getElementById("qty1").value++;' value='+'>+</button>
                                          </td>
                                          <td class="shop-red">R&#36; 1.678,00</td>
                                          <td>
                                             <button type="button" class="close"><span>&times;</span><span class="sr-only">Fechar</span></button>
                                          </td>
                                       </tr>
                                       <tr>
                                    </tbody>
                                 </table>
                              </div>
                           </section>
                           <div class="header-tags">
                              <div class="overflow-h">
                                 <h2>Faturamento</h2>
                                 <p>Endereço</p>
                                 <i class="rounded-x fa fa-home"></i>
                              </div>
                           </div>
                           <section class="billing-info">
                              <div class="row">
                                 <div class="col-md-6 md-margin-bottom-40">
                                    <h2 class="title-type">Endereço de Cobrança</h2>
                                    <div class="billing-info-inputs checkbox-list">
                                       <div class="row">
                                          <div class="col-sm-6">
                                             <input id="name" type="text" placeholder="Primeiro Nome" name="firstname" class="form-control required">
                                             <input id="email" type="text" placeholder="Email" name="email" class="form-control required email">
                                          </div>
                                          <div class="col-sm-6">
                                             <input id="surname" type="text" placeholder="Ultimo Nome" name="lastname" class="form-control required">
                                             <input id="phone" type="tel" placeholder="telefone" name="phone" class="form-control required">
                                          </div>
                                       </div>
                                       <input id="billingAddress" type="text" placeholder="Endereço linha 1" name="address1" class="form-control required">
                                       <input id="billingAddress2" type="text" placeholder="Endereço linha 2" name="address2" class="form-control required">
                                       <div class="row">
                                          <div class="col-sm-6">
                                             <input id="city" type="text" placeholder="Cidade" name="city" class="form-control required">
                                          </div>
                                          <div class="col-sm-6">
                                             <input id="zip" type="text" placeholder="Código Postal" name="zip" class="form-control required">
                                          </div>
                                       </div>
                                       <label class="checkbox text-left">
                                       <input type="checkbox" name="checkbox"/>
                                       <i></i>
                                       Envie para o endereço de faturamento acima.
                                       </label>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <h2 class="title-type">Endereço para envio</h2>
                                    <div class="billing-info-inputs checkbox-list">
                                       <div class="row">
                                          <div class="col-sm-6">
                                             <input id="name2" type="text" placeholder="Primeiro Nome" name="firstname" class="form-control">
                                             <input id="email2" type="text" placeholder="Email" name="email" class="form-control email">
                                          </div>
                                          <div class="col-sm-6">
                                             <input id="surname2" type="text" placeholder="Ultimo Nome" name="lastname" class="form-control">
                                             <input id="phone2" type="tel" placeholder="Telefone" name="phone" class="form-control">
                                          </div>
                                       </div>
                                       <input id="shippingAddress" type="text" placeholder="Endereço linha 1" name="address1" class="form-control">
                                       <input id="shippingAddress2" type="text" placeholder="Endereço linha 1" name="address2" class="form-control">
                                       <div class="row">
                                          <div class="col-sm-6">
                                             <input id="city2" type="text" placeholder="Cidade" name="city" class="form-control">
                                          </div>
                                          <div class="col-sm-6">
                                             <input id="zip2" type="text" placeholder="Código Postal" name="zip" class="form-control">
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                           <div class="header-tags">
                              <div class="overflow-h">
                                 <h2>Pagamento</h2>
                                 <p>Selecione o método de pagamento</p>
                                 <i class="rounded-x fa fa-credit-card"></i>
                              </div>
                           </div>
                           <section>
                              <div class="row">
                                 <div class="col-md-6 md-margin-bottom-50">
                                    <h2 class="title-type">Escolha a forma de pagamento</h2>
                                    <!-- Accordion -->
                                    <div class="accordion-v2">
                                       <div class="panel-group" id="accordion">
                                          <div class="panel panel-default">
                                             <div class="panel-heading">
                                                <h4 class="panel-title">
                                                   <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                   <i class="fa fa-credit-card"></i>
                                                   Crédito ou Débito
                                                   </a>
                                                </h4>
                                             </div>
                                             <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body cus-form-horizontal">
                                                   <div class="form-group">
                                                      <label class="col-sm-4 no-col-space control-label">Nome no cartão</label>
                                                      <div class="col-sm-8">
                                                         <input type="text" class="form-control required" name="cardholder" placeholder="">
                                                      </div>
                                                   </div>
                                                   <div class="form-group">
                                                      <label class="col-sm-4 no-col-space control-label">Número do cartão</label>
                                                      <div class="col-sm-8">
                                                         <input type="text" class="form-control required" name="cardnumber" placeholder="">
                                                      </div>
                                                   </div>
                                                   <div class="form-group">
                                                      <label class="col-sm-4 no-col-space control-label">Bandeira</label>
                                                      <div class="col-sm-8">
                                                         <ul class="list-inline payment-type">
                                                            <li><i class="fa fa-cc-paypal"></i></li>
                                                            <li><i class="fa fa-cc-visa"></i></li>
                                                            <li><i class="fa fa-cc-mastercard"></i></li>
                                                            <li><i class="fa fa-cc-discover"></i></li>
                                                         </ul>
                                                      </div>
                                                   </div>
                                                   <div class="form-group">
                                                      <label class="col-sm-4">Data de expiração</label>
                                                      <div class="col-sm-8 input-small-field">
                                                         <input type="text" name="mm" placeholder="MM" class="form-control required sm-margin-bottom-20">
                                                         <span class="slash">/</span>
                                                         <input type="text" name="yy" placeholder="YY" class="form-control required">
                                                      </div>
                                                   </div>
                                                   <div class="form-group">
                                                      <label class="col-sm-4 no-col-space control-label">CSC</label>
                                                      <div class="col-sm-8 input-small-field">
                                                         <input type="text" name="number" placeholder="" class="form-control required">
                                                         <a href="#">O que é isto?</a>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="panel panel-default">
                                             <div class="panel-heading">
                                                <h4 class="panel-title">
                                                   <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                   <i class="fa fa-paypal"></i>
                                                   Pague com Paypal
                                                   </a>
                                                </h4>
                                             </div>
                                             <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="content margin-left-10">
                                                   <a href="#"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_150x38.png" alt="PayPal"></a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <!-- End Accordion -->
                                 </div>
                                 <div class="col-md-6">
                                    <h2 class="title-type">Perguntas frequentes</h2>
                                    <!-- Accordion -->
                                    <div class="accordion-v2 plus-toggle">
                                       <div class="panel-group" id="accordion-v2">
                                          <div class="panel panel-default">
                                             <div class="panel-heading">
                                                <h4 class="panel-title">
                                                   <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapseOne-v2">
                                                   What payments methods can I use?
                                                   </a>
                                                </h4>
                                             </div>
                                             <div id="collapseOne-v2" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit, felis vel tincidunt sodales, urna metus rutrum leo, sit amet finibus velit ante nec lacus. Cras erat nunc, pulvinar nec leo at, rhoncus elementum orci. Nullam ut sapien ultricies, gravida ante ut, ultrices nunc.
                                                </div>
                                             </div>
                                          </div>
                                          <div class="panel panel-default">
                                             <div class="panel-heading">
                                                <h4 class="panel-title">
                                                   <a data-toggle="collapse" class="collapsed" data-parent="#accordion-v2" href="#collapseTwo-v2">
                                                   Can I use gift card to pay for my purchase?
                                                   </a>
                                                </h4>
                                             </div>
                                             <div id="collapseTwo-v2" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit, felis vel tincidunt sodales, urna metus rutrum leo, sit amet finibus velit ante nec lacus. Cras erat nunc, pulvinar nec leo at, rhoncus elementum orci. Nullam ut sapien ultricies, gravida ante ut, ultrices nunc.
                                                </div>
                                             </div>
                                          </div>
                                          <div class="panel panel-default">
                                             <div class="panel-heading">
                                                <h4 class="panel-title">
                                                   <a data-toggle="collapse" class="collapsed" data-parent="#accordion-v2" href="#collapseThree-v2">
                                                   Will I be charged when I place my order?
                                                   </a>
                                                </h4>
                                             </div>
                                             <div id="collapseThree-v2" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit, felis vel tincidunt sodales, urna metus rutrum leo, sit amet finibus velit ante nec lacus. Cras erat nunc, pulvinar nec leo at, rhoncus elementum orci. Nullam ut sapien ultricies, gravida ante ut, ultrices nunc.
                                                </div>
                                             </div>
                                          </div>
                                          <div class="panel panel-default">
                                             <div class="panel-heading">
                                                <h4 class="panel-title">
                                                   <a data-toggle="collapse" class="collapsed" data-parent="#accordion-v2" href="#collapseFour-v2">
                                                   How long will it take to get my order?
                                                   </a>
                                                </h4>
                                             </div>
                                             <div id="collapseFour-v2" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit, felis vel tincidunt sodales, urna metus rutrum leo, sit amet finibus velit ante nec lacus. Cras erat nunc, pulvinar nec leo at, rhoncus elementum orci. Nullam ut sapien ultricies, gravida ante ut, ultrices nunc.
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <!-- End Accordion -->
                                 </div>
                              </div>
                           </section>
                           <div class="coupon-code">
                              <div class="row">
                                 <div class="col-sm-4 sm-margin-bottom-30">
                                    <h3>Código de desconto</h3>
                                    <p>Insira seu código</p>
                                    <input class="form-control margin-bottom-10" name="code" type="text">
                                    <button type="button" class="btn-u btn-u-sea-shop">Adicione</button>
                                 </div>
                                 <div class="col-sm-3 col-sm-offset-5">
                                    <ul class="list-inline total-result">
                                       <li>
                                          <h4>Subtotal:</h4>
                                          <div class="total-result-in">
                                             <span>R$ 1280.00</span>
                                          </div>
                                       </li>
                                       <li>
                                          <h4>Compras:</h4>
                                          <div class="total-result-in">
                                             <span class="text-right">- - - -</span>
                                          </div>
                                       </li>
                                       <li class="divider"></li>
                                       <li class="total-price">
                                          <h4>Total:</h4>
                                          <div class="total-result-in">
                                             <span>R$ 1280.00</span>
                                          </div>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
                  <!--/end container-->
               </div>
               <!--=== End Content Medium Part ===-->     
