

          <!--=== Search Block ===-->
             <div class="search-block parallaxBg">
                 <div class="container">
                     <div class="col-md-6 col-md-offset-3 find_title">
                         <h1>Find the  <span class="color-green">most exciting</span> projects:</h1>

                         <div class="input-group">
                             <input type="text" class="form-control" placeholder="Look for a technology, project name, Company, etc.">
                             <span class="input-group-btn">
                                 <button class="btn-u" type="button"><i class="fa fa-search"></i></button>
                             </span>
                         </div>

                     </div>
                 </div>
             </div><!--/container-->
          <!--=== End Search Block ===-->





<hr>

<%= render partial: "list" %>

