
          <!--=== Search Block ===-->
             <div class="search-block1 parallaxBg">
                 <div class="container">
                     <div class="col-md-6 col-md-offset-3 find_title">
                         <h1>Find the  <span class="color-green">best</span> talents:</h1>

                         <div class="input-group">
                             <input type="text" class="form-control" placeholder="Look for a technology, project name, people, etc.">
                             <span class="input-group-btn">
                                 <button class="btn-u" type="button"><i class="fa fa-search"></i></button>
                             </span>
                         </div>


                     </div>
                 </div>
             </div><!--/container-->
          <!--=== End Search Block ===-->





<hr>

<!--=== Search Results ===-->
    <div class="container s-results margin-bottom-50">
        <div class="row">


            <div class="col-md-12">
                <span class="results-number">About 384,907 results</span>
                <!-- Begin Inner Results -->
                <div class="inner-results">
                    <h3><a href="#">Nino Marques</a></h3>
                    <ul class="list-inline up-ul">
                        <li>Bauru</li>
                        <li><a href="#">Brazil</a></li>
                        <li>Average Score: 78/100</li>
                        <li>Overall Ranking: 87º</li>
                        <li><a href="#">Web designer</a></li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut orci urna. Morbi blandit enim eget risus posuere dapibus. Vestibulum velit nisi, tempus in placerat non, auctor eu purus. Morbi suscipit porta libero, ac tempus tellus consectetur non. Praesent eget consectetur nunc. Aliquam erat volutpat. Suspendisse ultrices eros eros, consectetur facilisis urna posuere id.</p>
                </div>
                <!-- Begin Inner Results -->

                <hr>

                                <!-- Begin Inner Results -->
                <div class="inner-results">
                    <h3><a href="#">Bruno Silva</a></h3>
                    <ul class="list-inline up-ul">
                        <li>Bauru</li>
                        <li><a href="#">Brazil</a></li>
                        <li>Average Score: 78/100</li>
                        <li>Overall Ranking: 87º</li>
                        <li><a href="#">Web designer</a></li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut orci urna. Morbi blandit enim eget risus posuere dapibus. Vestibulum velit nisi, tempus in placerat non, auctor eu purus. Morbi suscipit porta libero, ac tempus tellus consectetur non. Praesent eget consectetur nunc. Aliquam erat volutpat. Suspendisse ultrices eros eros, consectetur facilisis urna posuere id.</p>
                </div>
                <!-- Begin Inner Results -->

                <hr>

                                <!-- Begin Inner Results -->
                <div class="inner-results">
                    <h3><a href="#">Ilya Brotzky</a></h3>
                    <ul class="list-inline up-ul">
                        <li>Bauru</li>
                        <li><a href="#">Brazil</a></li>
                        <li>Average Score: 78/100</li>
                        <li>Overall Ranking: 87º</li>
                        <li><a href="#">Web designer</a></li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut orci urna. Morbi blandit enim eget risus posuere dapibus. Vestibulum velit nisi, tempus in placerat non, auctor eu purus. Morbi suscipit porta libero, ac tempus tellus consectetur non. Praesent eget consectetur nunc. Aliquam erat volutpat. Suspendisse ultrices eros eros, consectetur facilisis urna posuere id.</p>
                </div>
                <!-- Begin Inner Results -->


                <div class="margin-bottom-30"></div>

                <div class="text-center">
                    <ul class="pagination">
                        <li><a href="#">«</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">157</a></li>
                        <li><a href="#">158</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div><!--/col-md-10-->
        </div>
    </div><!--/container-->
    <!--=== End Search Results ===-->
