
               <div class="header-v3 header-sticky">
                  <!-- Navbar -->
                  <div class="navbar navbar-default mega-menu" role="navigation">
                     <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                           <span class="sr-only">Toggle navigation</span>
                           <span class="fa fa-bars"></span>
                           </button>
                           <a class="navbar-brand" href="index.html">
                           <img id="logo-header" src="assets/img/logo1-default.png" alt="Logo">
                           </a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                           <div class="container">
                              <ul class="nav navbar-nav">
                                 <!-- Blog -->
                                 <li class="">
                                    <a href="blog.html">
                                    About Us
                                    </a>
                                 </li>
                                 <!-- End Blog -->
                                 <!-- Portfolio -->
                                 <li class="">
                                    <a href="jobs.html">Jobs</a>
                                 </li>
                                 <!-- End Portfolio -->
                                 <!-- Shortcodes -->
                                 <li class="btn_premium">
                                    <a href="#">Log in</a>
                                 </li>
                                 <!-- End Shortcodes -->
                              </ul>
                           </div>
                           <!--/end container-->
                        </div>
                        <!--/navbar-collapse-->
                     </div>
                  </div>
                  <!-- End Navbar -->
               </div>
               <!--=== End Header v3 ===-->
               <!--=== Job Description ===-->
               <div class="job-description">
                  <div class="container content">
                     <div class="title-box-v2">
                        <h2>Job Description</h2>
                        <p>Pellentesque et erat ac massa cursus porttitor eget sed magna.</p>
                     </div>
                     <!-- Left Inner -->
                     <div class="left-inner">
                        <h1>Web Developer</h1>
                        <h3>EA Canada, Inc - </h3>
                        <div class="overflow-h">
                           <p class="hex">Worldwide, 16,329 Employees, Bentonville, Arkansas</p>
                        </div>
                        <h2>Job Description</h2>
                        <p>This job was a great job for the pay and benefits when compared to waiting table and working fast food. I also preferred working for the vs other stores like . The biggest problem was unreasonable expectations from management. Even as one of there top employees you feel taken advantage of and over worked. Dealing with the customers was the other issue.</p>
                        <hr>
                        <h2>Your Task</h2>
                        <p>Donec non turpis in erat iaculis pulvinar id ac magna. Proin sem urna, tincidunt ac hendrerit in, lobortis interdum nisi. Quisque ornare dui sodales, mattis dolor ac, pellentesque nisl. Suspendisse quam dolor, euismod sed massa vitae, placerat congue turpis. Nulla congue lectus nec tellus euismod, porta mattis nisl interdum. </p>
                        <ul class="list-unstyled">
                           <li><i class="color-green fa fa-check"></i> Nullam laoreet est sit amet felis tristique laoreet</li>
                           <li><i class="color-green fa fa-check"></i> The biggest problem was unreasonable expectations from management</li>
                           <li><i class="color-green fa fa-check"></i> Dealing with the customers was the other issue</li>
                        </ul>
                        <hr>
                        <h2>Responsibility</h2>
                        <p>Maecenas at aliquam lorem. In massa diam, porttitor rhoncus metus eu, malesuada convallis sapien. Mauris nulla ante, aliquam nec mauris id, auctor rhoncus lorem. Pellentesque scelerisque tempor tellus nec ultrices. Nullam pretium ac urna at pretium. Integer vitae nisi dictum, feugiat sapien eget, dignissim odio.</p>
                        <div class="row">
                           <div class="col-md-6">
                              <ul>
                                 <li>Nullam laoreet est sit amet felis tristique laoreet</li>
                                 <li>The biggest problem was unreasonable expectations from management</li>
                                 <li>Dealing with the customers was the other issue</li>
                              </ul>
                           </div>
                           <div class="col-md-6">
                              <ul>
                                 <li>Nullam laoreet est sit amet felis tristique laoreet</li>
                                 <li>The biggest problem was unreasonable expectations from management</li>
                                 <li>Dealing with the customers was the other issue</li>
                              </ul>
                           </div>
                        </div>
                        <hr>
                        <h2>What We Offer</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac tempus metus, ullamcorper aliquam turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur ut tempus nibh. Nulla rhoncus est in viverra elementum. Cras condimentum, leo venenatis feugiat condimentum, ligula magna cursus est, non hendrerit erat sem et nisl. Fusce placerat viverra ante quis sodales. Nulla facilisi. Proin id nunc massa. Curabitur pharetra, ante et rhoncus lacinia, quam augue interdum massa, ut lobortis ligula sapien eu nunc.</p>
                        <ul class="list-unstyled colorful-ul">
                           <li>
                              <i class="color-green fa fa-angle-right"></i>
                              <a href="#"> Nullam laoreet est sit amet felis tristique laoreet</a>
                           </li>
                           <li>
                              <i class="color-green fa fa-angle-right"></i>
                              <a href="#"> The biggest problem was unreasonable expectations from management</a>
                           </li>
                           <li>
                              <i class="color-green fa fa-angle-right"></i>
                              <a href="#"> Dealing with the customers was the other issue</a>
                           </li>
                        </ul>
                        <br>
                        <p>Suspendisse quam dolor, euismod sed massa vitae, placerat congue turpis. Nulla congue lectus nec tellus euismod, porta mattis nisl interdum. Quisque ornare dui sodales, mattis dolor ac, pellentesque nisl. Suspendisse quam dolor, euismod sed massa vitae, placerat congue turpis.</p>
                     </div>
                     <!-- End Left Inner -->
                     <hr>
                     <div class="headline-center">
                        <a href="#" class="btn-u">Apply on</a>
                     </div>
                  </div>
               </div>
               <!--=== End Job Description ===-->
