
               <!--=== Breadcrumbs v3 ===-->
               <div class="breadcrumbs-v3 img-v3 text-center">
                  <div class="container">
                     <div class="title-box-v2 title_job">
                        <h2>Post a Job</h2>
                     </div>
                  </div>
                  <!--/end container-->
               </div>
               <!--=== End Breadcrumbs v3 ===-->
               <hr>
               <!-- Horizontal Form -->
               <div class="container">
                  <div class="panel  margin-bottom-40">
                     <div class="panel-heading">
                        <h3 class="">Company Details</h3>
                     </div>
                     <div class="panel-body">
                        <form class="form-horizontal" role="form">
                           <div class="form-group">
                              <label for="inputEmail1" class="col-lg-2 control-label">Company</label>
                              <div class="col-lg-6">
                                 <input type="email" class="form-control" id="inputEmail1" placeholder="Type to complete">
                              </div>
                           </div>
                           <div class="form-group">
                              <label for="inputEmail1" class="col-lg-2 control-label">Company Website</label>
                              <div class="col-lg-6">
                                 <input type="email" class="form-control" id="inputEmail1" placeholder="">
                              </div>
                           </div>
                           <div class="form-group">
                              <label for="inputEmail1" class="col-lg-2 control-label">Location</label>
                              <div class="col-lg-6">
                                 <input type="email" class="form-control" id="inputEmail1" placeholder="e.g. Vancouver">
                              </div>
                           </div>
                           <div class="form-group">
                              <label for="inputPassword1" class="col-lg-2 control-label">Markets</label>
                              <div class="col-lg-6">
                                 <input type="password" class="form-control" id="inputPassword1" placeholder="e.g. Mobile, E-commerce">
                              </div>
                           </div>
                           <div class="form-group">
                              <label for="inputPassword1" class="col-lg-2 control-label">High-Concept Pitch</label>
                              <div class="col-lg-6">
                                 <input type="password" class="form-control" id="inputPassword1" placeholder="e.g. Global crowdfunding for healthcare">
                              </div>
                           </div>
                           <div class="form-group">
                              <label for="inputPassword1" class="col-lg-2 control-label">Why Us?</label>
                              <div class="col-lg-6">
                                 <textarea class="form-control" rows="3"></textarea>
                              </div>
                           </div>
                           <div class="form-group">
                              <label for="inputPassword1" class="col-lg-2 control-label">Product</label>
                              <div class="col-lg-6">
                                 <textarea class="form-control" rows="3"></textarea>
                              </div>
                           </div>
                           <div class="panel-heading">
                              <h3 class="">Job Details</h3>
                           </div>
                           <div class="panel-body">
                        <form class="form-horizontal" role="form">
                        <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 control-label">Job Title</label>
                        <div class="col-lg-6">
                        <input type="email" class="form-control" id="inputEmail1">
                        </div>
                        </div>
                        <div class="form-group">
                        <label for="inputPassword1" class="col-lg-2 control-label" placeholder="">Job Description </label>
                        <div class="col-lg-6">
                        <textarea class="form-control" rows="3"></textarea>
                        </div>
                        </div>
                        <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 control-label">Coworkers</label>
                        <div class="col-lg-6">
                        <input type="email" class="form-control" id="inputEmail1" placeholder="">
                        </div>
                        </div>
                        <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 control-label">Skills Required</label>
                        <div class="col-lg-6">
                        <input type="email" class="form-control" id="inputEmail1" placeholder="">
                        </div>
                        </div>
                        <div class="form-group">
                        <label for="inputPassword1" class="col-lg-2 control-label">Annual Salary Range</label>
                        <div class="col-lg-6">
                        <input type="password" class="form-control" id="inputPassword1" placeholder="">
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn-u ">Create job</button>
                        </div>
                        </div>
                        </form>
                        </div>
                     </div>
                     <!-- End Horizontal Form -->
                  </div>
               </div>
               
