<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-v3 text-center">
  <div class="container">
  </div>
  <!--/end container-->
</div>

<!--=== End Breadcrumbs v3 ===-->
<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">

            <%= form_for(@user, :url => registration_path(@user), :html => { :role => 'form'}) do |f| %>

            <div class="reg-header">
                <h2>Create your account</h2>
            </div>

            <%= devise_error_messages! %>

            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <%= f.email_field :email, placeholder:"e-mail", autofocus: true, class: "form-control" %>
            </div>

            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <%= f.password_field :password, placeholder:"Password", autocomplete: "off", class:"form-control" %>
            </div>

            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <%= f.password_field :password_confirmation, placeholder:"Confirm your password", autocomplete: "off", class:"form-control" %>
            </div>

            <div class="row">
                <div class="col-md-offset-6 col-md-6">
                    <%= f.submit "Sign Up", class: "btn-u pull-right" %>
                </div>
            </div>

            <% end %>

        </div>

    </div>

</div>