<!--=== Search Results ===-->
<div class="container s-results margin-bottom-50">
  <div class="row">


    <div class="col-md-12">

      <span class="results-number">About <%= @jobs.count %> results</span>



      <% @jobs.each do |job| %>

          <!-- Begin Inner Results -->
          <div class="inner-results">
            <h3><%= link_to job.title, job %></h3>
            <ul class="list-inline up-ul">
              <% job.skills.gsub(/\s+/m, ' ').strip.split(" ").each do |skill| %>
                  <li><a href="#"><%= skill %></a></li>
              <% end %>
            </ul>
            <p><%= job.description %></p>
            <ul class="list-inline down-ul">
              <li><%= time_ago_in_words(job.created_at) %> - By <%= job.company.name %></li>
              <li><%= job.page_view %> views</li>
              <li><a href="<%= skill_category_path(job.skill_category)%>"><%= job.skill_category.name %></a></li>
            </ul>
          </div>
          <!-- Begin Inner Results -->

          <hr>

      <% end %>

      <div class="margin-bottom-30"></div>

      <div class="text-center">
        <ul class="pagination">
          <li><a href="#">«</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">...</a></li>
          <li><a href="#">157</a></li>
          <li><a href="#">158</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>
    </div><!--/col-md-10-->
  </div>
</div><!--/container-->
<!--=== End Search Results ===-->
