
<div class="wrapper">

    <!-- Interactive Slider v2 -->
    <div class="interactive-slider-v2">
      <div class="container">
        <div class="row">
          <div class="col-md-12 jobtitle ">
            <h2> Connecting top international tech talent to opportunities.</h2>
          </div>
        </div>
        <div class="text-center">
          <a class="btn-u btn-u-blue one-page-btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Sign up now.</a>
        </div>
      </div>
      <!--/end row-->
    </div>

</div>

<!-- End Interactive Slider v2 -->
<!--=== Service Block v4 ===-->
<div class="container content partners_logos">
  <div class="row col-md-12 title_depo2 text-center">
    <h1> There companies have already hired a Vanhacker:</h1>
  </div>
  <section>
    <h2></h2>
    <div class="container partner-logos">
      <div class="grid with-spacing">
        <div class="grid__item one-whole">
          <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
            <a><img src="assets/img/new/findjobs/logo1.png" class="img-responsive img-center" alt=""/></a>
          </div>
          <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
            <a><img src="assets/img/new/findjobs/logo2.png" class="img-responsive img-center"  alt=""/></a>
          </div>
          <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
            <a><img src="assets/img/new/findjobs/logo3.png" class="img-responsive img-center"  alt=""/></a>
          </div>
          <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
            <a><img src="assets/img/new/findjobs/logo4.png" class="img-responsive img-center"  alt=""/></a>
          </div>
          <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
            <a><img src="assets/img/new/findjobs/logo5.png" class="img-responsive img-center"  alt=""/></a>
          </div>
          <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
            <a><img src="assets/img/new/findjobs/logo6.png" class="img-responsive img-center"  alt=""/></a>
          </div>
          <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
            <a><img src="assets/img/new/findjobs/logo7.png" aclass="img-responsive img-center"  lt=""/></a>
          </div>
          <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
            <a><img src="assets/img/new/findjobs/logo8.png" class="img-responsive img-center"  alt=""/></a>
          </div>
          <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
            <a><img src="assets/img/new/findjobs/logo9.png" class="img-responsive img-center"  alt=""/></a>
          </div>
          <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
            <a><img src="assets/img/new/findjobs/logo10.png" class="img-responsive img-center"  alt=""/></a>
          </div>
          <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
            <a><img src="assets/img/new/findjobs/logo11.png" class="img-responsive img-center"  alt=""/></a>
          </div>
          <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
            <a><img src="assets/img/new/findjobs/logo12.png" class="img-responsive img-center"  alt=""/></a>
          </div>
          <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
            <a><img src="assets/img/new/findjobs/logo13.png" class="img-responsive img-center"  alt=""/></a>
          </div>
          <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
            <a><img src="assets/img/new/findjobs/logo14.png" class="img-responsive img-center" alt=""/></a>
          </div>
          <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
            <a><img src="assets/img/new/findjobs/logo15.png" class="img-responsive img-center" alt=""/></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <BR><BR>
</div>
</div>
</div>
<!--/end container-->
<div class="container content-sm1 ">
  <div class=" text-center margin-bottom-60">
    <h1>WHAT PEOPLE SAY</h1>
    <p>These pros used VanHack to get great jobs. <br>
  </div>
  <!-- Testimonials Wrap -->
  <div class="testimonials-v6 testimonials-wrap">
    <div class="row margin-bottom-50">
      <div class="col-md-6 md-margin-bottom-50">
        <div class="testimonials-info rounded-bottom bg-color-light">
          <img class="rounded-x" src="assets/img/new/findjobs/img4.png" alt="">
          <div class="testimonials-desc">
            <p>"I had a great experience using VanHack to relocate to Canada to work for Lululemon.com."</p>
            <strong>Marcelo Capucci</strong>
            <span>Database Analyst</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonials-info rounded-bottom bg-color-light">
          <img class="rounded-x" src="assets/img/new/findjobs/img3.png" alt="">
          <div class="testimonials-desc">
            <p>"Applying with a referral powered up my application and helped me land a cool position at a startup."</p>
            <strong>Pedro Serquiz</strong>
            <span>CTO, Labour Today</span>
          </div>
        </div>
      </div>
    </div>
    <!--/end row-->
    <div class="row margin-bottom-20">
      <div class="col-md-6 md-margin-bottom-50">
        <div class="testimonials-info rounded-bottom bg-color-light">
          <img class="rounded-x" src="assets/img/new/findjobs/img2.png" alt="">
          <div class="testimonials-desc">
            <p>"I was lucky enough to find a great team at Linquet  and I feel that I'm shaping the Internet of Things."</p>
            <strong>Renato Molina</strong>
            <span>Web Developer</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonials-info rounded-bottom bg-color-light">
          <img class="rounded-x" src="assets/img/new/findjobs/img1.png" alt="">
          <div class="testimonials-desc">
            <p>"Simple and easy to use site, customer service is impeccable. Timely concise e-mails and ONLY that, no spammy stuff. Highly recommend!"</p>
            <strong>Gustavo de Gues</strong>
            <span>Web Developer</span>
          </div>
        </div>
      </div>
    </div>
    <!--/end row-->
  </div>
  <!-- End Testimonials Wrap -->
</div>
<!--/end container-->
<!-- Parallax Section -->
<div class="bg-image-v1 parallaxBg">
  <div class="container">
    <div class="headline-center headline-light home2">
      <h1> Connecting cultures through code.</h1>
      <p> More than 10,000 job seekers already use VanHack, join them!</p>
      <div class="text-center">
        <a class="btn-u btn-u-blue one-page-btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Sign up .</a>
      </div>
    </div>
    <!--/end Headline Center-->
  </div>
</div>
<!-- End Parallax Section -->
